.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ce311d;
}

.link {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #1db1a4;
  font-size: 30px;
}

.activeLink {
  composes: link;
  color: #f32152;
  text-decoration: none;
}
